<div class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>Country Code</td>
                <td>Capital</td>
                <td>Area in Km2</td>
                <td>Population</td>
                <td>Continent</td>
            </tr>
            <tr ng-repeat="country in countries" ng-click="go(country)">
                <td>{{ country.countryName }}</td>
                <td>{{ country.countryCode }}</td>
                <td>{{ country.capital }}</td>
                <td>{{ country.areaInSqKm | number }}</td>
                <td>{{ country.population | number }}</td>
                <td>{{ country.continent }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 text-center">
        <a href="/" ui-sref="home" class="btn btn-lg btn-info">Home</a>
    </div>
</div>